@page "/"
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using NITNC_D1_Server.Data
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@code{
    private ApplicationDbContext Context { get; set; } = null!;
    protected override async Task OnInitializedAsync()
    {
        Context = await DbContextFactory.CreateDbContextAsync();
        await base.OnInitializedAsync();
    }
}

@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@foreach (var data in Context.KiyomoriAssignment.Include(a=>a.KiyomoriWorking).ThenInclude(a=>a.KiyomoriSubject))
{
    <div>
        教科名：@data.KiyomoriWorking.KiyomoriSubject.SubjectName (@data.KiyomoriWorking.KiyomoriSubject.Day.ToString())<br/>
        課題名：@data.KiyomoriWorking.WorkName<br/>
        詳　細：@data.Detail<br/>
        期　限：@data.Deadline<br/>
    </div>
}
@code{
    public void Dispose(){}
}