@page "/auth"

@using ImagawaYoshimoto2nd1.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Data.SqlClient
@using Npgsql

@inject ApplicationDbContext DatabaseConnection;

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    @{
        var rtx=DatabaseConnection.Database.SqlQueryRaw<TestDB>("SELECT \"NormalizedUserName\" FROM public.\"AspNetUsers\" WHERE \"UserName\" = '{0}'",context.User.Identity?.Name).ToArray();
    }
    @foreach (var data in rtx)
    {
        <div>NormalizedUserName: @data.NormalizedUserName <br/></div>
    }
</AuthorizeView>
@code
{

    class TestDB
    {
        public string NormalizedUserName { get; set; }
    }

}